body{
    background-color: hsl(30, 38%, 92%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.fonts{
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
}