body{
    display: flex;

    justify-content: center;
    align-items: center;
    height: 95vh;


    background-color: hsl(30, 38%, 92%);
}

.box{
    flex: 1;
    display: flex;

    max-width: 100vh;
    max-height: 90vh;

    border-radius: 3%;
}

.image{
    flex: 1;
    min-width: 50%;
}

.image img{

    max-width:100%;
    height: 100%;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;

}

.content{
    max-width: 100%;

    display: flex;
    flex-direction: column;

    background-color:hsl(0, 0%, 100%);
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

#type_product h2{
    flex: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.65em;
    letter-spacing: 1vh;
    color: hsl(228, 12%, 48%);

    padding-inline: 10%;
    padding-top: 2em;

}

#title_product h1{
    flex:1;
    font-family: 'Fraunces', serif;
    font-size: 2.3em;

    padding-inline: 10%;
}

#description_product{
    flex: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    line-height: 1.7;
    color: hsl(228, 12%, 48%);

    padding-inline: 10%;
}

.prices {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-family: 'Fraunces', serif;
    padding-inline: 10%;
}

#price_now p{
    flex:1;
    font-size: 1.5em;
    color: hsl(158, 36%, 37%);
}
#price_old p{
    flex:1;
    font-size: 0.6em;
    padding-left: 3vmin;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    text-decoration-color:hsl(228, 12%, 48%) ;
}
.buy_button{
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
    border-radius: 1vmin;
    padding-inline: 10%;
    padding-block: 5.5%;   
}

.buy_button button{

    background-image: url(/images/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 25% 50%;


    border:none;
    background-color: hsl(158, 36%, 37%);
    color:hsl(0, 0%, 100%);
}

.buy_button button:active{
    background-color:hsl(158, 36%, 15%);
}

.fonts{
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
}

/*  MOBILE VERSION */

@media screen and (max-width: 440px) {

    body{
        display: flex;
        background-color: hsl(30, 38%, 92%);
        
        align-items: flex-start;
        justify-content: center;
        }

    .box{
        display: flex;
        flex-direction: column;

        justify-content:flex-start;

        height: 85%;

        margin-inline: 3vmin ;
        margin-block: 5vmin;

        
    }

    .content{
        
        height: 90%;

        border-top-right-radius: 0%;
        border-bottom-left-radius: 3%;
    }

    .image{
        min-height: 38%;
        border-bottom-left-radius: 0%;

    }
    .image img{

        border-bottom-left-radius: 0%;
        border-top-right-radius: 3%;
        max-width: 100%;
    }

    #type_product{
        font-size: 1.5em;
    }

    #title_product {
        font-size: 0.9em;
    }

    #description_product{
        font-size: 0.9em;
    }

    #price_now {
        font-size: 1.5em;
    }

    #price_old {
        font-size: 2em;
    }
}